.navbar-custom {
    background-color: blue;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar:hover {
    color: white;
}

.navbar-brand {
    margin-left: 50px;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

#navbarNav {
    margin-right: 50px;
}

.nav-item {
    margin-right: 50px;
}

nav .navbar-nav li a {
    color: white;
}

nav .navbar-nav li a:hover {
    color: #cf8300;
}
