<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Blog<span style="font-weight: bold;">Hub</span></a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addBlog">Add Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-1 col-xs-12">
      </div>
    </div>
  </div>
</section>

<section class="blogs" id="blogs">
  <div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="blogsText1">Blogs</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-12">
            <h1 *ngIf="showBlogs.length <= 0" class="blogsText4">No blogs</h1>
            <div class="card cardblogs" *ngFor="let blogs of showBlogs; let i = index;">
                <div class="card-horizontal">
                    <div class="card-body">
                        <h4 class="card-title blogsText2">{{blogs.title}}</h4>
                        <p class="card-text blogsText3">{{blogs.content}}</p>
                        <hr style="margin-top: 40px;">
                        <p class="card-text blogsText3" style="float: right;">By {{blogs.author}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
